{% extends 'base.html' %}

{% block title %} Admin {% endblock %}

{% block content %}
<div id="app">
    <v-app>
        <v-container grid-list-md>
             <v-layout wrap>
                 <v-flex xl11>
                     <h1> Logged in as admin! </h1>
                 </v-flex>
                 <v-flex xl1>
                     <v-btn href="/logout" color="dark" dark>Logout</v-btn>
                 </v-flex>
            </v-layout>
            <v-layout wrap>
                <v-flex xl12>
                    <h2 style="margin: auto" :max-width="card_width()"> Add Entry </h2>
                </v-flex>
                <v-flex xl12>
                    <v-card class="rounded-card" style="margin: auto" :max-width="card_width()">
                        <v-container grid-list-md>
                            <v-layout justify-center align-center wrap>
                                <v-flex  xl12>
                                    <v-text-field v-model="title" label="Title" required color="dark"></v-text-field>
                                </v-flex>
                                <v-flex xl12>
                                    <v-textarea v-model="description" label="Description" required color="dark"></v-textarea>
                                </v-flex>
                                <v-flex>
                                    <v-text-field v-model="url" label="URL" required color="dark"></v-text-field>
                                </v-flex>
                                <v-flex>
                                    <v-text-field v-model="image_url" label="Image URL" required color="dark"></v-text-field>
                                </v-flex>
                                <v-flex xl6>
                                    <v-text-field v-model="time_stamp" label="Label Text" type="date" required color="dark"></v-text-field>
                                </v-flex>
                                <v-flex xl6>
                                    <v-select v-model="type" :items="types" label="Type" required color="dark"></v-select>
                                </v-flex>
                                <v-flex>
                                    <v-btn @click="submit_entry()" color="dark" dark>Submit</v-btn>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card>
                </v-flex>
            </v-layout>

            <v-row justify="center" style="margin-top: 2rem" no-gutters>
                <v-col lg="4">
                    <h2>Projects</h2>
                </v-col>
                <v-col lg="4">
                    <v-text-field v-model="search" label="Search" single-line hide-details ></v-text-field>
                </v-col>
            </v-row>
            <v-row justify="center">
                <v-col lg="8">
                    <v-data-table :headers="projects_header" :items="projects" :search="search">
                        <template v-slot:item.visibility="{ item }">
                            <v-icon small class="mr-2" @click="toggle_visibility(item)">
                                {{ item_visibility_text[item.visible] }}
                            </v-icon>
                        </template>
                    </v-data-table>
                </v-col>
            </v-row>
        </v-container>
        <v-snackbar v-model="show_alert"> {{ alert_text }} <v-btn color="#fff" text @click="show_alert=false">Close</v-btn></v-snackbar>
    </v-app>
</div>
<script src="/static/js/admin.js"></script>
{% endblock %}