{% extends 'base.html' %}

{% block title %} Admin {% endblock %}

{% block content %}
<div id="app">
    <v-app>
        <v-container>
             <v-layout>
                 <v-flex xl12>
                    You are logged in as admin
                 </v-flex>
                 <v-flex xl12>
                     <v-btn href="/logout">Logout</v-btn>
                 </v-flex>
            </v-layout>
            <v-layout>
                <v-flex xl12>
                    Add Blog
                </v-flex>
                <v-flex xl12>
                    <form>
                        <v-layout wrap>
                            <v-flex xl12>
                                <v-text-field v-model="title" label="title" required></v-text-field>
                            </v-flex>
                            <v-flex xl12>
                                <v-text-field v-model="description" label="description" required></v-text-field>
                            </v-flex>
                            <v-flex xl12>
                                <v-text-field v-model="url" label="url" required></v-text-field>
                            </v-flex>
                            <v-flex xl12>
                                <v-text-field v-model="image_url" label="image_url" required></v-text-field>
                            </v-flex>
                            <v-flex xl12>
                                <v-text-field v-model="time_stamp" label="Label Text" type="date" required></v-text-field>
                            </v-flex>
                            <v-flex>
                                <v-select v-model="type" :items="types" label="type"></v-select>
                            </v-flex>
                            <v-flex xl12>
                                <v-btn @click="submit_entry()">Submit</v-btn>
                            </v-flex>
                        </v-layout>
                    </form>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</div>
<script src="/static/js/admin.js"></script>
{% endblock %}