<!DOCTYPE html>
<html lang="en">
<head>
{#    <!-- Global site tag (gtag.js) - Google Analytics -->#}
{#    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144577202-1"></script>#}
{#    <script>#}
{#      window.dataLayer = window.dataLayer || [];#}
{#      function gtag(){dataLayer.push(arguments);}#}
{#      gtag('js', new Date());#}
{##}
{#      gtag('config', 'UA-144577202-1');#}
{#    </script>#}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Icon -->
    <link rel="shortcut icon" href="%% icon %%">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=%%formated_font%%|%%name_font_family%%&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" rel="stylesheet">

    <!-- Vuetify -->
    <link href="/static/css/vuetify.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="/static/css/animate.min.css">

    <!-- Axios -->
    <script src="/static/js/axios.min.js"></script>

    <!-- Custom CSS -->
    <link href="/static/css/index.css" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>
<body style="font-family: '%%font_family%%', sans-serif;">
    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Vuetify -->
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

    {% block content %}{% endblock %}

</body>
</html>