<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Icon -->
    <link rel="shortcut icon" href="%% icon %%">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=%%formated_font%%|%%name_font_family%%&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/font-awesome@4.x/css/font-awesome.min.css" rel="stylesheet">

    <!-- Vuetify -->
    <link href="/static/css/vuetify.min.css" rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="/static/css/animate.min.css">

    <!-- Axios -->
    <script src="/static/js/axios.min.js"></script>

    <!-- Custom CSS -->
    <link href="/static/css/index.css" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>
<body style="font-family: '%%font_family%%', sans-serif;">
    <!-- Vue JS -->
    <script src="/static/js/vue.js"></script>
    <!-- Vuetify -->
    <script src="/static/js/vuetify.js"></script>

    {% block content %}{% endblock %}

</body>
</html>