<v-layout wrap style="font-family: '%%font_family%%', sans-serif;">
    <v-flex xl2 offset-xl10>
        <span style="color: gray">Updated: {{ updated }}</span>
    </v-flex>

    <v-flex xs12 xl12>
        <h1>Blog</h1>
    </v-flex>

    <v-flex v-for="(blog, index) in blogs" :key="index" xs12>
        <v-hover v-slot:default="{ hover }">
            <v-card class="card-margin rounded-card" :color="theme.blog_cards" :max-width="card_width()" :elevation="hover ? 12 : 2" :href="blog.url" target="_blank">
                <v-layout wrap>
                    <v-flex xs12 xl8>
                        <v-card-title>
                            {{ blog.title }}
                        </v-card-title>

                        <v-card-text>
                            {{ blog.description }}
                        </v-card-text>
                    </v-flex>
                    <v-flex xs12 xl4 style="padding: 1rem">
                        <v-img :src="blog.image_url" aspect-ratio="1" contain></v-img>
                    </v-flex>
                </v-layout>
            </v-card>
        </v-hover>
    </v-flex>
</v-layout>
