<v-layout wrap>
    <v-flex xs12 xl12>
        <v-layout wrap>
            <v-flex xs10>
                <h2>What I am upto now</h2>
            </v-flex>
            <v-flex>
                Updated: {{ updated }}
            </v-flex>
        </v-layout>
        <v-card color="#f1f1f1" max-width="40%" style="margin: auto" v-on:click="open_link(latest_project.url)">
            <v-card-title>
                {{ latest_project.name }}
            </v-card-title>

            <v-card-text>
                {{ latest_project.description }} <br>
                Latest Commit: {{ latest_project.defaultBranchRef.target.history.nodes[0].message }}
            </v-card-text>
        </v-card>
    </v-flex>

    <v-flex xs12 xl12>
        <h2>Recent Activity</h2>
        <v-slide-group show-arrows>
            <v-slide-item v-for="n in 15" :key="n">
                <v-card class="ma-4" color="#f1f1f1" height="300" min-width="15%">
                    <v-card-title>
                        Topaz
                    </v-card-title>

                    <v-card-text>
                        A litt'l bit about topaz
                    </v-card-text>
                </v-card>
            </v-slide-item>
        </v-slide-group>
    </v-flex>
</v-layout>
