<v-navigation-drawer v-model="drawer" app width="375" style="font-family: '%%font_family%%', sans-serif;">
    <v-card dark :color="theme.nav_bar" raised height="100%" style="border-radius: 0;">
        <v-container grid-list-lg grid-list-xs style="height: 60vh">
            <!-- Navigation buttons -->
            <v-layout justify-center align-center column style="margin-top: 30vh">
                <v-flex>
                    <v-btn class="btn-text" text v-on:click="navigate_to('home')">Home</v-btn>
                </v-flex>
                <v-flex>
                    <v-btn class="btn-text" text v-on:click="navigate_to('projects')">Projects</v-btn>
                </v-flex>
                <v-flex>
                    <v-btn class="btn-text" text v-on:click="navigate_to('blog')">Blog</v-btn>
                </v-flex>
                <v-flex>
                    <v-btn class="btn-text" text v-on:click="navigate_to('publications')">Publications</v-btn>
                </v-flex>
                <v-flex>
                    <v-btn class="btn-text" text v-on:click="navigate_to('about_me')">About me</v-btn>
                </v-flex>
            </v-layout>
        </v-container>

        <v-container grid-list-lg grid-list-lg style="margin-top: 7vh;">
            <v-layout justify-center align-center column>
                <v-flex xl4 xs4>
                    <v-btn class="btn-text" text :href="theme.resume_url">
                        <v-icon left>mdi-download</v-icon> Resume
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-container>

        <!-- Navigation footer -->
        <v-container style="bottom: 0; position: absolute">
            <v-layout justify-center text-center>
                <v-container>
                    <v-flex xl12 xs12 style="font-family: '%%name_font_family%%', sans-serif;">
                        {{ theme.name }}
                    </v-flex>
                </v-container>
            </v-layout>

            <v-layout justify-center text-center>
                <v-flex xs2>
                    <a :href="theme.github_url">
                        <i class="fa fa-github nav-foot-icon"></i>
                    </a>
                </v-flex>
                <v-flex xs2>
                    <a :href="theme.medium_url">
                        <i class="fa fa-medium nav-foot-icon"></i>
                    </a>
                </v-flex>
                <v-flex xs2>
                    <a :href="theme.linkedin_url">
                        <i class="fa fa-linkedin nav-foot-icon"></i>
                    </a>
                </v-flex>
                <v-flex xs2>
                    <a :href="theme.twitter_url">
                        <i class="fa fa-twitter nav-foot-icon"></i>
                    </a>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card>
</v-navigation-drawer>