<v-navigation-drawer app style="width: 20%">
    <v-card dark color="#101010" raised height="100%" style="border-radius: 0;">
        <v-container grid-list-lg style="height: 70vh">
            <!-- Navigation buttons -->
            <v-layout justify-center align-center column style="margin-top: 30vh">
                <v-flex>
                    <v-btn class="btn-text" text v-on:click="navigate_to('home')">Home</v-btn>
                </v-flex>
                <v-flex>
                    <v-btn class="btn-text" text v-on:click="navigate_to('projects')">Projects</v-btn>
                </v-flex>
                <v-flex>
                    <v-btn class="btn-text" text v-on:click="navigate_to('blog')">Blog</v-btn>
                </v-flex>
                <v-flex>
                    <v-btn class="btn-text" text v-on:click="navigate_to('publications')">Publications</v-btn>
                </v-flex>
                <v-flex>
                    <v-btn class="btn-text" text v-on:click="navigate_to('about_me')">About me</v-btn>
                </v-flex>
            </v-layout>
        </v-container>

        <!-- Navigation footer -->
        <v-container style="margin-top: 50%;">
            <v-layout justify-center text-center>
                <v-container>
                    <v-flex xl12 xs12>
                        Naresh Nagabushan
                    </v-flex>
                </v-container>
            </v-layout>

            <v-layout justify-center text-center>
                <v-flex xs2>
                    <a href="https://github.com/Naresh1318">
                        <i class="fa fa-github nav-foot-icon"></i>
                    </a>
                </v-flex>
                <v-flex xs2>
                    <a href="https://www.linkedin.com/in/naresh-nagabushan-2946b013a">
                        <i class="fa fa-linkedin nav-foot-icon"></i>
                    </a>
                </v-flex>
                <v-flex xs2>
                    <a href="https://twitter.com/Naresh_Reddy_">
                        <i class="fa fa-twitter nav-foot-icon"></i>
                    </a>
                </v-flex>
                <v-flex xs2>
                    <a href="https://www.facebook.com/rnaresh.n">
                        <i class="fa fa-facebook-official nav-foot-icon"></i>
                    </a>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card>
</v-navigation-drawer>