<!DOCTYPE html>
<html>
<title>Naresh</title>
<meta charset="UTF-8">
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#404040" />
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#4285f4">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/x-icon" href="../static/images/person.ico" />
<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-dark-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third w3-animate-bottom">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="../static/images/naresh_3.jpeg" style="width:100%" alt="Avatar" class="w3-hover-opacity w3-opacity-min">
                    <div class="w3-display-bottomleft w3-container w3-text-black">
                        <h2>Naresh Nagabushan</h2>
                    </div>
                </div>
                <div class="w3-container">
                    <p><i class="fa fa-book fa-fw w3-margin-right w3-large w3-text-black w3-hover-text-grey"></i>Electronics and Communication</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-black w3-hover-text-grey"></i>Bangalore, India</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-black w3-hover-text-grey"></i>rnaresh.n@gmail.com</p>
                    <p><i class="fa fa fa-github fa-fw w3-margin-right w3-large w3-text-black w3-hover-text-grey"></i>
                        <a href="https://github.com/Naresh1318" style="text-decoration:none">github.com/Naresh1318</a> </p>
                    <hr>

                    <p class="w3-large"><b><i class="fa fa-terminal fa-fw w3-margin-right w3-text-black w3-hover-text-grey"></i>Skills</b></p>
                    <p><b>Technical</b></p>
                    <ul class="w3-ul w3-hoverable">
                        <li>MATLAB</li>
                        <li>PSPICE</li>
                        <li>Cadence Virtuoso</li>
                        <li>NI Multisim</li>
                        <li>Xilinx ISE 9.1</li>
                    </ul>
                    <p><b>Tools and Libraries</b></p>
                    <ul class="w3-ul w3-hoverable">
                        <li>Code Composer Studio</li>
                        <li>Arduino Software IDE</li>
                        <li>Scikit-learn</li>
                        <li>Tensorflow</li>
                        <li>OpenCV</li>
                    </ul>
                    <p>Preferred Languages</p>
                    <ul class="w3-ul w3-hoverable">
                        <li>Python</li>
                        <li>C</li>
                        <li>C++</li>
                    </ul>
                    <br>
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card-4 w3-white w3-margin-bottom w3-animate-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-black w3-hover-text-grey"></i>Education</h2>

                <div class="w3-container">
                    <div class="w3-twothird">
                        <h5 class="w3-opacity"><b>Ramaiah Institute of Technology</b></h5>
                        <h6 class="w3-text-black w3-hover-text-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2017</h6>
                        <p>Bachelor of Engineering (ECE) </p>
                        <hr>
                    </div>
                    <div class="w3-third w3-center">
                        <img src="https://upload.wikimedia.org/wikipedia/en/5/5a/Ramaiah_Institutions_Logo.png" style="width:30%" class="w3-image">
                    </div>
                </div>

                <div class="w3-container">
                    <div class="w3-twothird">
                        <h5 class="w3-opacity"><b>Vidya Mandir Ind. Pre University College</b></h5>
                        <h6 class="w3-text-black w3-hover-text-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2011 - 2013</h6>
                        <p>Pre-University</p>
                        <hr>
                    </div>
                    <div class="w3-third w3-center">
                    </div>
                </div>

            </div>

            <div class="w3-container w3-card-4 w3-white w3-margin-bottom w3-animate-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-flask fa-fw w3-margin-right w3-xxlarge w3-text-black w3-hover-text-grey"></i>Projects</h2>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b><a href="https://github.com/Naresh1318/DiagnosisPredictor" style="text-decoration: none">Diagnosis Predictor</a></b></h5>
                    <p>Predicts chronic diseases using a patients previous history.</p>
                    <hr>
                </div>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b><a href="https://github.com/Naresh1318/ICU_Patient_Mortality" style="text-decoration: none">ICU Patient Deterioration Prediction</a></b></h5>
                    <p>Use artificial neural networks along with various feature selection and extraction algorithms to predict the ICU patient’s mortality.</p>
                    <hr>
                </div>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b><a href="https://github.com/Naresh1318/Style_Transfer" style="text-decoration: none">AI Video artist</a></b></h5>
                    <p>Converts a video to a style specified by a painting using the vgg16 network.</p>
                    <hr>
                </div>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b><a href="https://github.com/Naresh1318/TwitterSentiment" style="text-decoration: none">Twitter Sentiment Analysis</a></b></h5>
                    <p>Analyze the general opinion of a topic among people using the Twitter API and textblob.</p>
                    <hr>
                </div>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b><a href="https://github.com/Naresh1318/Effect_of_injected_noise_in_deep_NN" style="text-decoration: none">Effect of Injected Noise in Deep Neural Networks</a></b></h5>
                    <p>Add noise to the operation of a fully connected deep neural network based on the institution from crosstalk in VLSI circuits.</p>
                    <hr>
                </div>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b><a href="https://github.com/Naresh1318/Movieclassifier" style="text-decoration: none">Movie Review Classifier</a></b></h5>
                    <p>Classifies a movie as positive or negative based on the re-views written using Logistic Regression.</p>
                    <hr>
                </div>

            </div>

            <div class="w3-container w3-card-4 w3-white w3-margin-bottom w3-animate-bottom">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-clipboard fa-fw w3-margin-right w3-xxlarge w3-text-black w3-hover-text-grey"></i>Publications</h2>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b><a href="https://github.com/Naresh1318/Effect_of_injected_noise_in_deep_NN" style="text-decoration: none">Effect of Injected Noise in Deep Neural Networks</a></b></h5>
                    <p>Naresh Nagabushan, Nishank Sathish, Raghuram S,” Effect of Injected Noise in DeepNeural Networks,” 2016 IEEE International Conference on Computational Intelligenceand Computing Research (ICCIC).</p>
                    <hr>
                </div>

            </div>


            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>

<footer class="w3-container w3-dark-grey w3-center w3-margin-top">
    <p>Find me on.</p>
    <a class="fa fa-github w3-hover-text-grey w3-large" href="https://github.com/Naresh1318" style="text-decoration: none"></a>
    <a class="fa fa-twitter w3-hover-text-light-blue w3-large" href="https://twitter.com/Naresh_Reddy_" style="text-decoration: none"></a>
    <a class="fa fa-instagram w3-hover-text-purple w3-large" href="https://www.instagram.com/naresh1318/" style="text-decoration: none"></a>
    <br>
    <br>
</footer>

</body>
</html>