<v-layout wrap style="font-family: '%%font_family%%', sans-serif;">
    <v-flex xl2 offset-xl10>
        <span style="color: gray">Updated: {{ updated }}</span>
    </v-flex>

    <v-flex xs12 xl12>
        <h1>Projects</h1>
    </v-flex>

    <v-flex v-for="(project, index) in projects" :key="index" xs12>
        <v-hover v-slot:default="{ hover }">
            <v-card class="card-margin rounded-card" :color="theme.project_cards" :max-width="card_width()" :elevation="hover ? 12 : 2" :href="project.url" target="_blank">
                <v-container fluid>
                    <v-row align="stretch" no-gutters>
                        <v-col class="green" cols="8">
                            <v-row no-gutters>
                                <v-card-title class="hide-overflow">
                                    {{ project.title }}
                                </v-card-title>

                                <v-card-text>
                                    {{ project.description }}
                                </v-card-text>
                            </v-row>
                            <v-row class="align-self-end" no-gutters>
                                <v-col class="red">
                                    <v-container>
                                        Test
                                    </v-container>
                                </v-col>
                            </v-row>
                        </v-col>
                        <v-col class="black" cols="4">
                            <v-row align="center" justify="center" style="height: 200px" no-gutters>
                                <v-img :src="project.image_url" aspect-ratio="1.0" style="max-height: 200px" contain></v-img>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card>
        </v-hover>
    </v-flex>

</v-layout>
