<v-layout wrap style="font-family: '%%font_family%%', sans-serif;">
    <v-flex xs2 xl2 offset-xs10 offset-xs10>
        <span style="color: gray">Updated: {{ updated }}</span>
    </v-flex>
    <v-flex xs12 xl12>
        <h1>Publications</h1>
    </v-flex>

    <v-flex v-for="(pub, index) in publications" :key="index" xs12>
        <v-hover v-slot:default="{ hover }">
            <v-card class="card-margin rounded-card" :color="theme.publication_cards" max-width="40%" :elevation="hover ? 12 : 2" v-on:click="open_link(pub.url)">
                <v-layout wrap>
                    <v-flex xs8 xl8>
                        <v-card-title>
                            {{ pub.title }}
                        </v-card-title>

                        <v-card-text>
                            {{ pub.description }}
                        </v-card-text>
                    </v-flex>
                    <v-flex xs4 xl4 style="padding: 1rem">
                        <v-img :src="pub.image_url" aspect-ratio="1" contain></v-img>
                    </v-flex>
                </v-layout>
            </v-card>
        </v-hover>
    </v-flex>
</v-layout>